{% extends "base.html" %}

{% block title %}Home Page{% endblock %}

{% block subtitle %}GDP expenditure on R&D in Europe{% endblock %}

{% block content %}
    <p>This web-application provides information about Europe's GDP expenditure on R&D.</p>
    <br>
    <p>Please use the index-tabs to make use of the services:</p>
    <ul>
        <li>Under 'Report' you find a general report on the GDP expenditure on R&D in european countries in 2019.</li>
        <li>Under 'Countries' you get the history of GDP expenditure on R&D for a country of your choice.</li>
    </ul>
{% endblock %}
